<html>
<head>
     <link rel="stylesheet" href="../public/styles/purchaseHistory.css">
     
</head>


<body>
        <p class="endgame">SkyTec</p>
        <div class="topnav">
                <p class="skytec">SkyTec</p>
                <a href="#Profile">Profile</a>
                
                <a href="#Reservations">Reservation</a>
                <a href="#CheckFlight">Check Flight</a>
                <a href="#home">Home</a>
               
                
         </div>
            
            
        <div class="side">                    
                <div class="sidebar">
                    <a href="#EditProfile">Edit Profile</a>
                    <a href="#PurchaseHistory">Purchase History</a>
                    <a href="#My Bookings">My Bookings</a>
                    <a href="#Signout">Signout</a>
                </div>
        </div>
           
        <div class="main">  
              <div class="content">
                       <div style="overflow-x:auto;">
                           <table >
                              <tr>
                                      <th style="width:12% " >Ticket ID</th>
                                      <th  style="width:12%" >Ticket Status</th>
                                      <th   style="width:12%"  >Amount</th>
                                      <th  style="width:12%" >Passenger ID</th>
                                     
                              </tr>
                              <tr>
                                
                                      <td><i class="fa fa-check">k173877</i></td>
                                <td><i class="fa fa-check">Economy</i></td>
                                <td><i class="fa fa-check">$140.000</i></td>
                                <td><i class="fa fa-check">K173924</i></td>
                                
              
                              </tr>
                              <tr>
                                      <td><i class="fa fa-check">k173877</i></td>
                                      <td><i class="fa fa-check">Economy</i></td>
                                      <td><i class="fa fa-check">$140.000</i></td>
                                      <td><i class="fa fa-check">K173924</i></td>
                              </tr>
                           
                              <tr>
                                      <td><i class="fa fa-check">k173877</i></td>
                                <td><i class="fa fa-check">Economy</i></td>
                                <td><i class="fa fa-check">$140.000</i></td>
                                <td><i class="fa fa-check">K173924</i></td>
                    
                                    </tr>
                          
                          
                          </table>
                           
              
                      </div>
              
                
              </div>
        </div>
</body>

 


<footer><div class="footer"><h3>© SkyTec.com| Designed by Talha Jamal</h3></div></footer>

</html>