<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://use.fontawesome.com/686137b027.js"></script>

	<link rel="stylesheet" type="text/css" href="../public/styles/search.css">
</head>
<body>
<div class="fromToTitle">
	
</div>
<div class="selected">
	
</div>
<div class="filters1">
	
</div>
<div class="searchSorter">
	<span>Airline</span>
	<span>Depart</span>
	<span>Arrive</span>
	<span>Duration</span>
	<span>Stops</span>
</div>
<hr>
<div class="contentAirlines">
	<div class="flight">
		<div class="details">
			<div class="Airline-info"><div class="Airline-pic"><img src="../public/assets/airlines/AC.png"></div>
			<span class="Airline-title">Air canada</span></div>
			<div class="cityInfo">
				<div class="city-title">
					Khi
				</div>
			<span class="routeImage fa fa-plane"></span>

				<div class="city-time">
					9:30
				</div>
			</div>
	        
			
			<div class="cityInfo">
				<div class="city-title">
					Canada
				</div>
				<div class="city-time">
					21:30
				</div>
			</div>
			<div class="Duration-info">
				<span class="Duration-title">Duration</span>
				<div class="Duration-time">
					23 hr 10 min
				</div>
			</div>
			<div class="Stop-info">
				<span class="Stop-title">Stop</span>
				<div class="Stop-no">
					2
				</div>
			</div>
			<div class="priceDiv">
				<div>Price</div>
			<span class="currency">Rs</span>
			<span class="price">141,000</span>
		</div>
		</div>
			<div class="selectBtn">
			<button class="btn btn-danger">
				Select
			</button>
		</div>
		
		<hr>
	</div>


	<div class="flight">
		<div class="details">
			<div class="Airline-info"><div class="Airline-pic"><img src="../public/assets/airlines/AC.png"></div>
			<span class="Airline-title">Air canada</span></div>
			<div class="cityInfo">
				<div class="city-title">
					Khi
				</div>
			<span class="routeImage fa fa-plane"></span>

				<div class="city-time">
					9:30
				</div>
			</div>
				
			
			<div class="cityInfo">
				<div class="city-title">
					Canada
				</div>
				<div class="city-time">
					21:30
				</div>
			</div>
			<div class="Duration-info">
				<span class="Duration-title">Duration</span>
				<div class="Duration-time">
					23 hr 10 min
				</div>
			</div>
			<div class="Stop-info">
				<span class="Stop-title">Stop</span>
				<div class="Stop-no">
					2
				</div>
			</div>
			<div class="priceDiv">
				<div>Price</div>
			<span class="currency">Rs</span>
			<span class="price">141,000</span>
		</div>
		</div>
		<div class="selectBtn">
			<button class="btn btn-danger">
				Select
			</button>
		</div>
		
		<hr>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>