
<html>
<head>
	<title>Airline Reocrds</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles/project1.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>


 <p>
  <h5>Welcome to SkyTek! World's leading place for your ease in travelling by Air.</h5>  
 </p>
</div>

<div class="bg-img">
  <form  class="container" method ="GET" action="/adminVerification">
    <h1> Admin Login</h1>

    <label for="Airline ID"><h6>Admin Username</h6></label>
    <input type="text" placeholder="Airline ID" name="username" required>

    <label for="psw"><h6>Password</h6></label>
    <input type="password" placeholder="Password" name="password" required>

    <button type="submit" class="btn">Login</button>
  </form>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
</body>
</html>