
<html>
<head>
  <title>Status</title>
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.css">

  <link rel="stylesheet" type="text/css" href="styles/addintoflight.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div class="topnav" id="myTopnav">
<div class="navbar-brand"><a href="/" id="brandPlane" class="fa fa-plane"><span style="color:#FF1493;">SkyTek</span></a></div>
 
 <a href="/AirlineLogin">Login</a>
 <a href="/Signup">Signup</a>

  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
</div>
<div>
 <p><h5>Welcome to SkyTek! World's leading place for your ease in travelling by Air.</h5></p>
</div>



<div class="jumbotron">
  <h1 class="display-4">Hello</h1>
  <p class="lead"><%= F %></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-Success btn-lg" href="/Signup" role="button">Signup Again</a>
  </p>
</div>

<div>

</body>